body {
	font-family: "Times New Roman", Times, serif;
	background-image: url("/stars.gif");
	/*background: #171717 ; */
	color: #ccc ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

a {
	color: #f78422 ;
}

img {
	max-width: 100% ;
}

header h1 {
	color: #EC6D00 ;
	text-align: center ;
	text-decoration: underline overline;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
